#Projects .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#Projects .box-container {
    background: linear-gradient(135deg, rgba(51, 0, 252, 0.8), rgba(149, 0, 138, 0.8), rgba(235, 0, 0, 0.8));
    color: #FFFFFF;
    border-radius: 12px;
    transition-duration: 0.3s;
    border: none;
    position: relative;
}

#Projects .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#Projects .box-container:not(.locked):hover {
    transform: translateY(-5px);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

#Projects .box-container.locked i {
    position: absolute;
}


#Projects .box-container.locked::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 12px;
}