#Profile .box {
    width: 100%;
    height: 100%;
    margin: auto;

    background: #ada996;
    background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

#Profile #ProfileForm  {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#Profile #ProfileForm  form {
    width: 50%;
    padding: 40px;
}

.image img{
    width: 130px;
    height: 130px;
    object-fit: cover;
}
