body {
    background: url("../../images/bg.jpg");
    color: #fff;
    min-height: 100vh;
}


#List {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#List .box {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid var(--bg-color);
    width: 500px;
    margin: auto;
    position: relative;
    backdrop-filter: blur(10px);
}

#List .box span.input-group-text {
    background-color: transparent;
    border: none;
}

#List li {
    cursor: pointer;
    border: 1px solid #09c;
    background-color: lightsteelblue;
}

#DoneList li {
    cursor: default;
}

#List .box span.input-group-text button {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
